@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgb(17, 17, 17);


}


/* navbar starts here */
.navbar-section {
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgba(17, 17, 17, 0.719), rgba(119, 119, 119, 0.326) 100%);


}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

.navbar-head {
    color: #E6533C;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 2rem;

}

.sub-container-two {
    margin-left: 20px;
}

.menu {
    background-color: #E6533C;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 5px 8px;
    text-decoration: none;
}

.navbar-menu {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 15px;
    margin-left: 40px;
    background-color: rgb(17, 17, 17);
    color: white;
}

.hamburger-menu {
    display: none;
    color: white;
}

/* navbar ends here */

/* header section starts here */
.header-section {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-sub-container {
    width: 50%;
}

.header-sub-container-two {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.header-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 450px;
    right: 30px;
}

.header-card-two {
    position: absolute;
    bottom: 400px;
    right: 100px;
}

.sercle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);

}

.header-img-one {
    margin-left: 220px;
    width: 349px;
    height: 580px;
}

.header-img-one img {
    width: 100%;
    height: 100%;

}

.header-head {
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 70px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.header-head-two {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.header-para {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.primary-btn {
    background: rgb(230, 83, 60);
    gap: 10;
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 30px;
    color: white;
}

.primary-btn-black {
    background: black;
    gap: 10;
    padding: 16px 40px 16px 40px;
    border: none;
    border-radius: 30px;
    color: white;
    margin-left: 15px;
    border: 1px solid white;
}

/* header section ends here */

/* habit section stars here */
.habit-section {
    max-width: 1440px;
    margin: 0 auto;
}

.habit-tittle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.habit-head {
    font-size: 4rem;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.habit-para {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.habit-card-head {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.habit-card-para {
    width: 231px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.habit-card-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.sub-habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 20px;

}

/* habit section ends here */
/* run section starts here */
.run-section {
    max-width: 1440px;
    margin: 0 auto;
}

.sub-run-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-top: 100px;
}

.sub-run-container-two {
    width: 40%;
}

.run-primary-btn {
    padding: 15px 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 0.8.5rem;
    font-weight: 600;
}

.sub-run-img-container {
    width: 450px;
    height: 312px;
}

.sub-run-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.run-head {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.run-btn {
    width: 200px;
    height: 50px;
    text-align: center;

}

.run-para {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

/* run section ends here */
/* BMI section starts here */
.bmi-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

.bmi-tittle {
    width: 80%;
    margin: 0 auto;
}

.bmi-head {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-para {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.bmi-tittle-apply {
    width: 620px;
    margin: 50px auto;
}

.bmi-form-container {
    display: flex;
    justify-content: space-between;
}

.calculator-container {
    width: 45%;
}

.calculator-container-two {
    width: 45%;
}

.bmi-same-head {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

.bmi-same-head-two {
    font-size: 1.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-table {
    font-size: 1rem;
    font-weight: 700;
}

.tbody {
    font-size: 0.8rem;
    font-weight: 400;
}

td {
    border: 2px solid white;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.form {
    margin-top: 25px;
}

.input-text {
    width: 235px;
    margin-bottom: 10px;
}

.input-text-one {
    width: 475px;
}

.big-input {
    width: 475px;
}

.form-btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 16px 50px;
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    ;
}

/* BMI section ends here */


/* Our team section starts here*/
.our-team-section {
    max-width: 1440px;
    margin: 100px auto;
}

.tittle-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.our-team-para {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 50%;
    margin: 20px auto;
}

.our-main-container {
    width: 80%;
    margin: 0 auto;
}

.our-team-card-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    gap: 10px;
}

.img-card {
    width: 350px;
    height: 300px;
    text-align: center;
}

.img-card img {
    width: 100%;
    height: 100%;
}

.img-tittle {
    position: relative;
    bottom: 80px;
    left: 30px;
    display: inline;
    color: white;
}

/* Our team section ends here */

/* footer section starts here */
.footer-section {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container {
    width: 80%;
    margin: 50px auto;
    display: flex;
}

.footer-sub-container {
    width: 50%;
}

.footer-sub-container-two {
    width: 50%;
    display: flex;
}

.servicess-container {
    width: 50%;
    justify-items: center;
}

.footer-small-para {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    width: 443px;
    color: rgb(255, 255, 255);
}

.footer-head {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.footer-para {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.all-right {
    width: 80%;
    margin: 40px auto;
    font-size: 1.2;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}
.horizontal{
    margin-bottom: 50px;
}
/* footer sectin ends here */