@media screen and (max-width: 576px) {
    .hamburger-menu{
        display: block;
    }
    .sub-containe-two{
        display: none;
    }

    /* navbar section ends here */

    .header-sub-container{
        /* margin-right: 150px; */
    }
    .container {
       flex-direction: column;
       width: 100%;
    }
    .header-img-one{
        margin-left: 0px;
        margin-top: 0;
    }
    .header-card-two {
       position: relative;
       display: none;
    }
    .primary-btn{
        width: 200px;
        height: 50px;
    }
    .primary-btn-black{
        width: 269px;
        height: 50px;
    }
    .header-btn{
        display: flex;
       
    }
    .header-head{
       width: 300px;
       height: 200px;
       font-size: 3rem;
    }
    .header-para{
        width: 300px;
    }

    /* habit section start here */

    .habit-tittle{
        width: 100%;
    }
    .habit-head{
        font-size: 3rem;
        margin-top: 10px;
    }
    .habit-card-para {
      
        margin: 0 auto;
    }
    .sub-habit-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-right: 2px;
    }

    /* run section start here */


    .sub-run-container{
        flex-direction: column;
        margin: 0 auto;
    }
    .run-head{
       text-align: center;
       width: 400px;
       margin-top: 50px;
    }
    .run-para{
        width: 400px;
    }
    .sub-run-img-container {
        width: 400px;
        height: 312px;
        margin-top: 20px;
    }
  .run-btn{
    width: 400px;
    height: 50px;
    text-align: center;
  }

  /* BMI & form section start here */
  .bmi-para{
    width: 400px;
    margin-bottom: 50px;
    font-size: 0.8rem;
  }
  .bmi-form-container{
    flex-direction: column;
  }
  .calculator-container{
    width: 400px;
    height: 200px;
    text-align: center;
  }
  .table-container{
    margin-bottom: 100px;
    margin: 0 auto;
  }
  .bmi-same-head-two{
    width: 350px;
    height: 100px;
    /* text-align: center; */
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .input-text{
    display: inline;
    width: 315px;
    margin-bottom: 10px;
  }
  .input-text-one{
    width: 315px;
    margin-bottom: 10px;
  }
  .big-input{
    width: 315px;
  }
  .bmi-cal-two{
    width: 350px;
  }
  .bmi-cal-one{
    width: 350px;
  }
  /* Our team section start here */
  .our-team-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
/* footer section start here */

.footer-container{
    flex-direction: column;
}
.footer-sub-container-two{
    /* flex-direction: column; */
}
.servicess-container{
    width: 400px;
    height: 350px;
    margin-right: 50px;
    margin-top: 20px;
}

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar-container{
        flex-direction: column;
        align-items: center;
    }
    .sub-containe-two{
        margin-top: 30px;
        margin-left: 0px;
    }
    .menu{
        padding: 0px;
    }
    .container {
        flex-direction: column;
        width: 100%;
     }
     .header-img-one{
        margin-left: 0px;
        margin-top: 0;
    }
    .header-card-two {
       position: absolute;
    }
    .primary-btn-black{
        margin-left: 5px;
        margin-top: 10px;
    }
    .habit-head{
        font-size: 3rem;
        margin-top: 10px;
    }
    .sub-habit-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* run section start here */
    .run-head{
        text-align: center;
        width: 320px;
        font-size: 2rem;
        margin-top: 50px;
     }
     .run-para{
        width: 300px;
    }
    .sub-run-img-container {
        width: 200px;
        height: 350px;
        margin-top: 20px;
    }
}